.recipe, h1 , .link, h2{
    font-family: Garamond, Georgia , serif;
}

.link{
    color: black;
    font-weight: 600;
}

ul, ol, p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

body{
    background-color: #EADDCA;
}