.recipe-name, h1 , .link, h2{
    font-family: Garamond, Georgia , serif;
}

.link{
    color: black;
    font-weight: 600;
}

ul, ol, p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

body{
    background-color: #EADDCA;
}

.list{
    border: 3px solid black;
    padding-left: 300px;
}

.recipe-name{
    display: block;
}

h2{
    text-decoration: underline;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,h2, .recipe-name,p{
    text-align: center;
}